* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #000;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  color: white;
}


.logo {
  width: 100%;
  max-width: 30px;

}


.row {
  width: 100%;
  margin: 0 auto;
  max-width: 1300px;
}

nav {
  transition: all 1s ease-in-out;
}

.trans {
  transition: all ease 500ms;
}

.nav-bar {
  background-color: #ffffff;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;


  width: 100%;
  transition: all 500ms ease-in-out;
}

.container-nav {
  display: flex;
}

.logo-text {
  padding-left: 40px;
  margin-top: 5px;
  font-weight: 500;
}


.container-hero {
  text-align: center;
  padding-top: 80px;
  background: linear-gradient(109deg, rgba(218, 219, 220, 1) 0%, rgba(255, 255, 255, 1) 36%);


}

.hero-para {
  width: 100%;
  max-width: 550px;
  margin: 0 auto;
  line-height: 32px;
}

.hero-img {
  margin: 0 auto;
}

.cards {
  background-color: white;
}

.cards-text {
  color: #0072F5;
  font-weight: 500;
  margin: 0;
  padding: 0;
}



.cards-img {
  width: 100%;
  max-width: 200px;

}

* {
  /* outline: green solid 1px; */
}

.card-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 30px;
  width: 30%;
  transition: all ease-in-out 500ms;
  position: relative;
  z-index: 10;
  cursor: pointer;
}

.card-content:hover {
  width: 33%;





}

.cards_contaier {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

@media (max-width:1010px) {
  .cards_contaier {

    flex-wrap: wrap;
  }
}

@media (max-width:835px) {
  .cards_contaier {

    flex-wrap: wrap;
  }
}

@media (max-width:755px) {
  .cards-text {
    font-size: 13px;
  }

}

.cards {
  margin-top: 150px;
}

.resize {
  width: 50%;

}

.hight-resize {}

.sds {
  margin-top: 30px;
  margin-bottom: 20px;
}

.pdhsero {
  background-color: white;
  margin-top: 140px;
}

.pd-row {
  margin: 0 auto;
  width: 100%;
  max-width: 1900px;
}

.left {
  width: 50%;
  background-color: #88F1B6;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
  margin: 50px;
  height: 600px;
}

.right {
  width: 50%;
  background-color: #96C1F2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
  margin: 50px;
  height: 600px;
}

.pd-container {
  display: flex;
  justify-content: center;
  width: 100%;

}

.pd-img {

  width: 100%;
  max-width: 250px;



}

.pd-img2 {

  width: 100%;
  max-width: 400px;

}

* {
  /* outline: solid green 1px; */
}

.img-wrapper {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0px;

}

.title-pd {}

.pd-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
}

.pd-para {
  color: rgb(255, 255, 255);
  font-size: 22px;
  width: 350px;
  font-weight: 500;
  text-align: center;
  line-height: 29px;
}

.btn {
  margin-top: 30px;
  background-color: white !important;
  color: #96C1F2 !important;
}

.color {
  color: #88F1B6 !important;
}

.foot-hero {
  background-color: white;
  width: 100%;
  margin-top: 130px;
}

.black {
  color: black;
  font-weight: 400;
}

.container-foot {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}

.col-foot {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  padding: 0 90px;
  width: 30%;
  /* position: relative; */
}

.col-text--foot {
  text-align: center;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
 
}

* {
  /* outline: 1px green solid; */
}

.foot-btn {
  margin: 0 auto;
  margin-bottom: 50px;
  background-color: #F5A524 !important;
}

.img-wrapper-foot {
  
}

.black {
  font-size: 20px;
  padding-bottom: 30px;
}

.test{
  text-align: center;
  font-size: 27px;
  font-weight: 600;
  padding-top: 30px;
color: rgb(65, 65, 65);
}


@media (max-width:1390px) {
  .container-nav{
    padding-left: 40px;
  }
  .logo-text{
    font-size: 16px !important;
  }
}
@media (max-width:830px) {
.hero-para{
  font-size: 20px !important;
  width: 300px;
}

.pd-container{
  
  flex-direction: column;
}
.left, .right{
  margin: 0 auto;
  width: 100%;
}
}
@media (max-width:1130px) {
.foot-img{
  
  width: 100%;
  max-width: 300px;
   
  
}
.col-foot{
  width: 100%;
 padding: 70px 0;
  
}
.container-foot{
flex-direction: column;
}

}

.foot-img{
  width: 100%;
 margin-bottom: 20px;
 
  
}

.title-fot{
  padding: 0;
  margin: 0;
}

.sub{
  background-color: white;
}
.mail-logo{
  width: 100%;
  max-width: 25px;
  margin-right: 20px;

color: #cccccc !important;


}

.container-mail{
  display: flex;
  align-items: center;
  justify-content: center;
   padding-top: 20px;
}
input{
 border-bottom: 1px rgb(196, 196, 196) solid;

 
}
input::placeholder{

}

form{
  display: flex;
align-items: center;
}

.btn-mail{
  background-color: #F5A524 !important;
  margin-left: 30px;
}